<!-- add_address.html -->
{% extends 'base.html' %}

{% block title %}Add Address - Eleyan Store{% endblock %}

{% block content %}
<h2>Add New Address</h2>
<form method="post">
    {% csrf_token %}
    <!-- Allow the user to enter new address details -->
    <label for="address_state">State:</label>
    <input type="text" name="address_state" required>
    <label for="address_city">City:</label>
    <input type="text" name="address_city" required>
    <label for="address_village">Village:</label>
    <input type="text" name="address_village" required>
    <label for="address_street">Street:</label>
    <input type="text" name="address_street" required>
    <label for="is_default">Set as Default:</label>
    <input type="checkbox" name="is_default">
    <button type="submit">Add Address</button>
</form>
{% endblock %}