<!-- products/templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleyan Store</title>
</head>

<body>
    <header>
        <h1>Eleyan Store</h1>
        <nav>
            <ul>
                <li><a href="{% url 'products:home' %}">Home</a></li>
                <li><a href="{% url 'products:product_list' %}">Product List</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add footer content if needed -->
    </footer>
</body>

</html>