<!-- user_addresses.html -->
{% extends 'base.html' %}

{% block title %}Manage Addresses - Eleyan Store{% endblock %}

{% block content %}
<h2>Manage Addresses</h2>
<!-- Display a list of user addresses and provide options to edit or delete -->
<ul>
    {% for address in user.userprofile.useraddress_set.all %}
    <li>
        {{ address.address_state }}, {{ address.address_city }}, {{ address.address_street }}
        {% if address.is_default %} (Default) {% endif %}
        <a href="{% url 'edit_address' address.id %}">Edit</a>
        <a href="{% url 'delete_address' address.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add_address' %}">Add New Address</a>
{% endblock %}